<div class="col-sm-2"></div>
<div class="col-sm-10">
  <h1>商品一覧</h1>
  <p>（全<%= @items.count %>件）</p>
  <div class="item_container">
    <% @items.each do |item| %>
    <div class="item_box">
      <div class="item_image_box">
        <%= attachment_image_tag item, :image, format: 'jpeg' , fallback: "no_image.jpg" ,class: "item_image" %>
      </div>
      <p>
        <%= link_to item.name , end_users_item_path(item.id) %>
      </p>
      <p>￥<%= item.price %></p>
    </div>
    <% end %>
  </div>
</div>